<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="box" ></div>
</body>
<script>
    //5秒跳转页面
    var b=document.getElementById("box");
    b.innerHTML="添加错误，重新添加";
    var time=5;
    //每隔一秒执行定时器
    var timer=setInterval(function(){
        if(time>0){
            time--;
            b.innerHTML=time+"秒钟跳转页面";
        }else{//终止定时器
            //alert("跳转页面");
            //open("http://www.baidu.com");
            window.location.href="add.html";
            timer.clearInterval();
        }
    },1000);
</script>
</html>
